
.title__slider{
	margin-bottom: 50px;
	color: var(--unnamed, #21062A);
	position: relative;
}

	.title__slider::after {
	content: "";
	position: absolute;
	width: 80px;
	height: 3px;
	background: #21062A;
	top: 27px;
	margin-left: 10px;
}