
 .btn {
	display: inline-block;
	color: #fff;
	padding: 14px 54px;
	background-color: #5A0D67;
	font-family: Oswald;
	font-size: 14px;
	font-weight: 300;
	line-height: 21px;
	text-transform: uppercase;
	transition: all .4s;
}

.btn:hover {
	background-color: #fff;
	color: #5A0D67;

}