.services__title {
	color: var(--unnamed, #21062A);
	font-family: Oswald;
	font-size: 36px;
	font-weight: 400;
	line-height: 53px;
	text-transform: uppercase;
	margin-bottom: 50px;
	position: relative;
}

.services__title::after{
	content: '';
	width: 80px;
	height: 3px;
	background: #21062A;
	position: absolute;
	top: 25px;
	margin-left: 10px;
}

h3 {
	color: var(--unnamed, #5A0D67);
	font-family: Oswald;
	font-size: 18px;
	font-weight: 300;
	line-height: 27px;
	margin-bottom: 12px;
}

.services{
	margin-bottom: 100px;
}
.services__content {
	display: flex;
}
.left {
	width:504px;
	margin-right: 96px;
}
p {
	margin-bottom: 12px;
}
.box1 {
	margin-bottom: 57px;
}

.list {
	list-style: none;
	
}
.list__item {
	border: 1px solid var(--unnamed, #C4C4C4);
	padding: 10px 17px 9px 110px;
	
	transition: all .5s;
	width: 450px;
	box-sizing: border-box;
	margin-bottom: 8px;

}


.list__item:hover{
	border: 1px solid  #5A0D67;
	width: 500px;

}

.list__item:hover .list__item-title{
	color: var(--unnamed, #5A0D67);

}
.list__item:hover .list__item-text {
color: #000;}


.list__item-title {
	color: var(--unnamed, #2C2B2B);
	font-family: Oswald;
	font-size: 24px;
	font-weight: 300;
	line-height: normal;
	
}
.list__item-text {
	color: var(--unnamed, #2C2B2B);
	font-family: Oswald;
	font-size: 18px;
	font-weight: 300;
	line-height: normal;
	
}