header {
	background-image: url(./image/back.jpg);
	background-repeat: no-repeat;
		block-size: cover;
		background-position: top center;
		min-height: 700px;
		color: #fff;
		margin-bottom: 300px;
	
}
.container {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;

}

.header__top {
	display: flex;
	justify-content: space-between;
	padding-top: 47px;
	align-items: center;
	margin-bottom: 105px;
	transition: all .2s ease-in-out;
}
.header__top svg:hover{
	transform: scale(1.2);
}
.tel {
	text-decoration: none;
	color: #fff;
	font-family: Oswald;
	font-size: 36px;
	font-weight: 400;
	line-height: 53px;
	text-transform: uppercase;;
}

.tel:hover{
	text-decoration: underline;
}
h1 {
	font-family: Oswald;
		font-size: 72px;
		font-style: normal;
		font-weight: 400;
		line-height: 107px;
		text-transform: uppercase;
}
h2 {
	font-family: Oswald;
		font-size: 36px;
		font-style: normal;
		font-weight: 400;
		line-height: 53px;
		text-transform: uppercase;
}
p {
	font-family: Oswald;
		font-size: 18px;
		font-weight: 300;
		line-height: 27px;
}

.header__content {
	margin-bottom: 30px;
	position: relative;
}

.btn {
	margin-bottom: 70px;
}

.header__social {
	margin-left: 66px;
}

.header__img {
	
	position: absolute;
	top: 232px;
	right: 0;
}