@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap");

body {
  font-family: "Oswald", sans-serif;
}

header {
  background-image: url(./image/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 700px;
  color: #fff;
  margin-bottom: 300px;
}
[class$="__container"] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 47px;
  align-items: center;
  margin-bottom: 105px;
  transition: all 0.2s ease-in-out;
}

.tel {
  text-decoration: none;
  color: #fff;
  font-size: 36px;
  font-weight: 400;
  line-height: 53px;
  text-transform: uppercase;
}

.tel:hover {
  text-decoration: underline;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.header-button {
  animation: slideInFromBottom 1s ease-in-out both;
  animation-delay: 0.5s;
}











.header__content h1  {
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 107px;
  text-transform: uppercase;
  animation: slideInFromLeft 1s ease-in-out forwards;
  
  }

 .header__content h2 {
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 53px;
  text-transform: uppercase;
  animation: slideInFromLeft 1s ease-in-out forwards;
 
}

.header__content p {
  margin-bottom: 30px;
}

p {
  display: block;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  margin-bottom: 30px;
  animation: slideInFromLeft 1s ease-in-out forwards;
}

.header__content {
  margin-bottom: 30px;
  position: relative;
}

.header__social {
  margin-left: 66px;
  margin-top: 70px;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
.header__img {
  position: absolute;
  top: 232px;
  right: 0;
  animation: slideInFromBottom 1s ease-in-out both;
  animation-delay: 0.5s;
}

@media (max-width: 1130px) {
  .header__img svg {
    width: 90%;
  }
  .header__content h1 {
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: 75px;
  }
  
  .box2 {
    margin-bottom: 25px;
  }
  
  .list .list__item:hover {
    width: 450px;
  }

  .left {
    min-width: 450px;
  }

  .right {
    width: 100%;
  }
  header {
    margin-bottom: 180px;
  }
}

@media (max-width: 1024px) {
  .header__content h1 {
    font-size: 59px;
    font-style: normal;
    font-weight: 400;
    line-height: 75px;
  }

  .services__content {
    flex-wrap: wrap;
    width: 100%;
  }

  .services__content .left {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .right {
    order: -1;
    margin-bottom: 20px;
  }

  

  .list .list__item:hover {
    width: 100%;
  }

  .list .list__item {
    width: 100%;
  }
  .AutoMy {
    display: none;
  }
}

@media (max-width: 930px) {
  .header__content h1 {
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: 57px;
  }
  .tel {
    font-size: 29px;
    font-weight: 400;
    line-height: 13px;
  }
  .contacts__inner .contacts__content {
    width: 100%;
    text-align: center;
  }
  .contacts__box {
    width: 100%;
  }
  .contacts__input {
    width: 100%;
  }
  .slider__container .slider__content {
    margin-bottom: 20px;
  }
  .contacts__box .contacts__form input:last-of-type {
      margin-bottom: 30px;
  }
}

@media (max-width: 700px) {
  .header__content {
    text-align: center;
  }
  .header__content h1 {
    font-size: 42px;
    line-height: 51px;
  }
  h2 {
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
  }
  .advances__list {
    padding: 25px 15px;
    text-align: center;
  }
  .advances__list .advances__item {
    max-width: 700px;
  }
  .advances__content .advances__list {
    text-align: center;
    padding: 25px 10px;
  }

  .advances__title::after {
    display: none;
  }

  .advances__content .advances__title {
    text-align: center;
    margin-left: 0;
  }
  .services {
    margin-bottom: 50px;
  }

  .footer__content {
    flex-direction: column;
    row-gap: 17px;
    padding-top: 8px;
  }
  .form__title::after {
    display: none;
  }
  .contacts__form .form__title {
    margin-bottom: 25px;
  }
  .contacts__content .contact__title {
    color: var(--unnamed, #21062a);
    margin-bottom: 14px;
  }
  .contact__title::after {
    display: none;
  }

  .slider__container .slider__content {
    margin-bottom: 20px;
  }
  .slider__container .title__slider {
    margin-bottom: 20px;
  }
  .title__slider::after {
    display: none;
  }
  .contacts__form .BtnForm {
    margin-top: 26px;
  }
  body .advances {
    margin-bottom: 50px;
  }
}

@media (max-width: 490px) {
  .header__content h1 {
    font-size: 34px;
    line-height: 56px;
  }
  .tel {
    font-size: 17px;
    font-weight: 400;
    line-height: 9px;
  }
  .header__content h1 {
      font-size: 29px;
      line-height: 47px;
  }
  .header__content h2 {
      font-size: 20px;
      line-height: 28px;
  }
  .header__content p {
  font-size: 14px;
  line-height: 25px;}
}

@media (max-width: 490px) {
  .header__content h1 {
    font-size: 27px;
    line-height: 44px;
  }
  h2 {
    font-size: 26px;
    line-height: 28px;
  }

  .header__top {
    flex-wrap: wrap;
    align-items: center;
  }

  .header__top svg {
    display: block;
    scale: 0.8;
  }

  .tel {
    font-size: 17px;
    font-weight: 400;
    line-height: 38px;
  }

  .list .list__item {
    padding: 10px 17px 9px 55px;
  }
  .left {
    min-width: auto;
  }
  header {
    margin-bottom: 111px;
  }
  .services__title {
    color: var(--unnamed, #21062a);
    font-family: Oswald;
    font-size: 30px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    margin-bottom: 32px;
    position: relative;
  }
  .services__title::after {
    top: 25px;
  }
  .contacts__box .contacts__form {
    padding: 25px 40px;
    text-align: center;
  }
  .contacts__form .BtnForm {
    margin-top: 26px;
  }
}

@media (max-width: 390px) {
  header {
    margin-bottom: 65px;
  }
  .header__top {
    margin-bottom: 45px;
    justify-content: center;
  }
  h2 title .services__title {
    font-size: 20px;
    line-height: 21px;
    margin-bottom: 20px;
  }

  .services__title::after {
    display: none;
  }

  .contacts__box .contacts__form {
    padding: 32px 25px;
    text-align: center;
  }
  .contacts__form .BtnForm {
    margin-top: 26px;
  }
  h2 {
    font-size: 26px;
  }
  .footer__container .footer__content {
    row-gap: 5px;
  }
     .swiper-pagination-bullet {
    scale: 0.3;
    gap: 4px;
  }
  
}



.header-button{
  display: inline-block;
  color: #fff;
  padding: 14px 54px;
  background-color: #5A0D67;
  font-family: Oswald;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  text-transform: uppercase;
  transition: all .4s;
  border: none;
  border: 1px solid #5A0D67;
}

.header-button:hover {
  background-color: #fff;
  color: #5A0D67;
  cursor: pointer;
  border: 1px solid #5A0D67;
 

}

 