.slider {
	margin-bottom: 100px;
}

.container {}

.slider__content {
	margin-bottom: 153px;
}

.slider__list {
	display: flex;
	list-style: none;
	gap: 14px;

}

.slider__item {
	text-align: center;
	border: 1px solid var(--unnamed, #C4C4C4);
	width: 390px;
	padding-top: 7px;
	transition: all .3s;
	
	padding: 4px 4px 0 4px;

}
.slider__item:hover {
	background: var(--unnamed, #5A0D67);
	
}




.Infinity {
	margin-bottom: 23px;
	width: 100%;
}

.slider__title {
	color: var(--unnamed, #2C2B2B);
	font-family: Oswald;
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 5px;
	line-height: 27px;
}

.slider__price {
	color: var(--unnamed, #2C2B2B);
	font-family: Oswald;
	font-size: 18px;
	font-weight: 300;
	text-decoration: none;
	font-style: normal;
	line-height: 27px;
	margin-bottom: 11px;
}

.slider__item:hover .slider__title {
	color: #fff;
}

.slider__item:hover .slider__price {
	color: #fff;
}