.footer {
	min-height: 100px;
	background: var(--unnamed, #21062A);
	align-items: center;
	display: flex;
	justify-content: center;
	
	
}

.container {}

.footer__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.footer__container{
	
		
		justify-content: space-between;
		/* Вирівнювання по горизонталі */
		width: 100%;
}

.politic a {
	color: #fff;
	font-family: Oswald;
   font-size: 18px;
   font-weight: 300;
  
}