.advances {
	display: flex;
	margin-bottom: 100px;
}

.AutoMy {
 margin-right: 95px;

}
.advances__content {

}

.advances__title title  {
	padding-left: 185px;
	margin-bottom: 50px;
}

.advances__list {
	list-style: none;
	background: var(--unnamed, #21062A);
	min-width: 785px;
	padding-top: 23px;
	padding-left: 185px;
	padding-bottom: 45px;
}

.advances__item {
	max-width: 316px;
	color: #fff;
	width: 100%;
	margin-bottom: 20px;
	
	
}

.advances__item-num {font-family: Oswald;
	font-size: 36px;
	font-weight: 400;
	text-transform: uppercase;}

.advances__item-title {
	font-family: Oswald;
	font-size: 24px;
	font-weight: 300;
		
}

.advances__item-text {
	color: var(--unnamed, #C4C4C4);
	font-family: Oswald;
	font-size: 18px;
	font-weight: 300;
		
}