.advances {
	
	margin-bottom: 100px;
}
.advances__inner{
	display: flex;
}
.AutoMy {
 margin-right: 95px;

}
.advances__content {
width: 100%;
}

.advances__title title  {
	padding-left: 185px;
	margin-bottom: 50px;
}

.advances__list {
	list-style: none;
	background: var(--unnamed, #21062A);
	padding: 25px 0 25px 185px;
	
}

.advances__item {
	max-width: 316px;
	color: #fff;
	width: 100%;
	margin-bottom: 20px;
	
	
}

.advances__item-num {font-family: Oswald;
	font-size: 36px;
	font-weight: 400;
	text-transform: uppercase;}

.advances__item-title {
	font-family: Oswald;
	font-size: 24px;
	font-weight: 300;
		
}

.advances__item-text {
	color: var(--unnamed, #C4C4C4);
	font-family: Oswald;
	font-size: 18px;
	font-weight: 300;
		
}




.scroll-animation {
  opacity: 0;
  transform: translateY(350px);
  transition: opacity 0.5s ease-out, transform 0.3s ease-out;
}

.scroll-animation.visible {
  opacity: 1;
  transform: translateY(0);
}